
/* Our CSS for our fine website. */

body{
	padding: 0;
	margin: 0;
}
.page{

	.background{
		position: fixed;

	}

	.header{
		width: 100%;
		display: block;
		position: fixed;
		height: 75px;
		border-bottom: 1px solid #aaa;
		background: #ffffff;
		top:0;

		.navigationMenu{
			float: right;
			height: 75px;
			font-family: "Futura Medium", sans-serif;
			text-transform: uppercase;

			ul{
				list-style: none;
				margin: 0;
				padding: 0;

				li{
					display: table-cell;
					margin: 0;
					height: 75px;
					line-height: 75px;
					padding: 0 20px;

					transition: all 0.2s ease-in-out;

					a {

						text-decoration: none;
						color: black;
					}

					&:hover{
						background: #393276;

						a{
							color: white;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.content{
		height: 100vh;
		width: 100vw;
		position: relative;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Century Gothic","Futura Medium", sans-serif;
		.wrap-content{
			position: relative;
			display: block;
			width: 600px;
			padding-top: 150px;
			margin: auto;
			padding-bottom: 100px;
			color: white;

			&.center{
				text-align: center;
			}
			
            &.screenshots{
                
                img{
                    max-width: 100%;
                    max-height: 400px;
                }
            }            

			.box{
				padding: 15px 20px;
				background:  rgba(255, 255, 255, 0.7);
				color: black;
				position: relative;
			}

			h1{
				font-size: 60px;
				opacity: 0.5;

				&.big{
					font-size: 75px;
					opacity: 1.0;
				}
			}
		}
	}
}














