@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* Our CSS for our fine website. */

body{
	padding: 0;
	margin: 0;
}
.page{

	.background{
		position: fixed;
	}

	.header{
		font-family: "Futura Medium", sans-serif;
		text-transform: uppercase;

		width: 100%;
		display: block;
		position: fixed;
		height: 75px;
		border-bottom: 1px solid #aaa;
		background: #ffffff;
		top:0;

		.htitle{
			float:left; 
			font-size:30px;
			font-family: "Andale Mono", sans-serif;
		}

		li{
					display: table-cell;
					margin: 0;
					height: 75px;
					line-height: 75px;
					padding: 0 20px;
					transition: all 0.2s ease-in-out;

					a {

						text-decoration: none;
						color: black;
					}

					&:hover{
						background: #393276;

						a{
							color: white;
							text-decoration: none;
						}
					}
				}

		.navigationMenu{
			float: right;
			height: 75px;
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
			}
		}
	}

	.content{
		height: 100vh;
		width: 100vw;
		position: relative;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Century Gothic","Futura Medium", sans-serif;
		
		.screenshots{
                
                img{
                    max-width: 100%;
                    max-height: 400px;
                    margin:auto;
                    display:block;
                }
        }   
		.wrap-content{
			position: relative;
			display: block;
			width: 800px;
			padding-top: 150px;
			margin: auto;
			padding-bottom: 100px;
			color: white;
			&.center{
				text-align: center;
			}         

			.box{
				padding: 15px 20px;
				background:  rgba(255, 255, 255, 0.7);
				color: black;
				position: relative;
			}
	
  			.carousel-inner {
  				 opacity:0;  /* make things invisible upon start */
                     -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
                     -moz-animation:fadeIn ease-in 1;
                     animation:fadeIn ease-in 1;
                     
                     -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
                     -moz-animation-fill-mode:forwards;
                     animation-fill-mode:forwards;
                     
                     -webkit-animation-duration:1s;
                     -moz-animation-duration:1s;
                     animation-duration:1s;

                    -webkit-animation-delay: 1.5s;
                    -moz-animation-delay:1.5s;
                    animation-delay: 1.5s;
  				.item {

  					div {
  						width: 100%;
      					margin: auto;
  					}
  					a{
  						div {
  							width: 100%;
      						margin: auto;
  						}
  					}
  				}
  			}

			h1{
				font-size: 60px;
				opacity: 1;

				&.big{
					font-size: 75px;
					opacity: 1.0;

                    opacity:0;  /* make things invisible upon start */
                     -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
                     -moz-animation:fadeIn ease-in 1;
                     animation:fadeIn ease-in 1;
                     
                     -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
                     -moz-animation-fill-mode:forwards;
                     animation-fill-mode:forwards;
                     
                     -webkit-animation-duration:1s;
                     -moz-animation-duration:1s;
                     animation-duration:1s;

                    -webkit-animation-delay: 1.2s;
                    -moz-animation-delay:1.2s;
                    animation-delay: 1.2s;
				}
			}
		}
	}
}














